@page "/chart"
@using System.Net.Http.Json
@using Newtonsoft.Json
@inject HttpClient Http

@*<SfStockChart Title="AAPL Historical">
    <StockChartSeriesCollection>
        <StockChartSeries DataSource="@StockDetails" Type="ChartSeriesType.Candle" XName="Date" YName="Close" High="High" Low="Low" Open="Open" Close="Close" Volume="Volume"></StockChartSeries>
    </StockChartSeriesCollection>
</SfStockChart>*@
<div class="control-section">
    <div>
        <SfStockChart EnableSelector="false">
            <StockChartPeriods>
                <StockChartPeriod IntervalType=RangeIntervalType.Days Interval="1" Text='1 Day'></StockChartPeriod>
                <StockChartPeriod IntervalType=RangeIntervalType.Weeks Interval="1" Text='1 Week'></StockChartPeriod>
                <StockChartPeriod IntervalType=RangeIntervalType.Months Interval="1" Text='1 Month' Selected="true"></StockChartPeriod>
                <StockChartPeriod IntervalType=RangeIntervalType.Months Interval="3" Text='3 Months'></StockChartPeriod>
            </StockChartPeriods>
        <StockChartPrimaryXAxis>
        </StockChartPrimaryXAxis>
        <StockChartSeriesCollection>
            <StockChartSeries DataSource="@DataSource" Type="ChartSeriesType.HiloOpenClose" XName="Date" High="High" Low="Low" Open="Open" Close="Close" Volume="Volume"></StockChartSeries>
        </StockChartSeriesCollection>
    </SfStockChart>
    </div>
</div>
@code{
    private List<StockChartData> DataSource;
    public class StockChartData
    {
        public DateTime Date { get; set; }
        public Double Open { get; set; }
        public Double Low { get; set; }
        public Double Close { get; set; }
        public Double High { get; set; }
        public Double Volume { get; set; }
        public override string ToString()
        {
            return JsonConvert.SerializeObject(this); 
        }
    }
    protected override async Task OnInitializedAsync()
    {
        DataSource = await Http.GetFromJsonAsync<List<StockChartData>>("http://localhost:5158/api/stocks/timeSpan?symbol=TSLA");
        Console.WriteLine("Start:");
        foreach (var item in DataSource)
        {
            Console.WriteLine(item);
        }
        if(DataSource == null)
        {
            Console.WriteLine("null");  
        }
    }
}